:root {
  --primary: #ff9900;
  --secondary: #ffeab5;
  --tetiary: #FFCE85;
  --complimentary: #002e58;
  --background: #ffffff;
  --text: #333333;
  --image: gray;
}


/* Removes the step and spinners from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@font-face {
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  src: url("./assets/fonts/Magzo.ttf");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  color: var(--text);
}

* {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.signup-dialog {
  padding: 3rem 6rem;
  padding-top: 1rem;
  background: var(--secondary);
  border: none;
  border-radius: 10px;

}

.dialog-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.4rem;
}

#signinDialog {
  display: none;
}

.dialog-title {
  font-size: 2.4rem;
  font-weight: 600;
  margin: 1rem 0;
  text-align: center;
}

.dialog-text {
  font-size: 1rem;
}

.dialog-input {
  margin: 0.5rem 0;
  height: 2rem;
  border: none;
  font-size: 1.1rem;
}

.signup-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog-signin-button {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.5rem;
}

.dialog-button-subtext {
  margin-top: 0.9rem;
  font-size: 0.8rem;
}

.dialog-button-subtext-underline {
  text-decoration: underline;
  cursor: pointer;
}

#dialog-close-icon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

#cart-close-icon {
  position: absolute;
  top: 3.5rem;
  left: 3.5rem;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  /* position: fixed; */
  top: 0;
  left: 0;
  height: fit-content;
  z-index: 99;
}

.navbar-logo-container {
  width: 100%;
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo-title {
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 2.2rem;
  color: var(--background);
  margin: 0rem 1rem 0rem 1rem;
}

.navbar-logo {}

.navbarItem {
  text-decoration: none;
  color: var(--text);
  margin: 0 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
}

.navbarItem::after {
  content: "";
  position: absolute;
  z-index: 100;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #333333;
  transform-origin: bottom right;
  margin-top: 15px;
  transition: transform 0.25s ease-out;
}

.navbarItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sub-navbar {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 2rem;
}

.cart-profile-container {
  position: absolute;
  right: 2rem;
}

.button-filled {
  background: var(--primary);
  padding: 0.5rem 1.5rem;
  color: var(--background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: 1px solid var(--primary);
  transition: 0.3s;
  cursor: pointer;
}

.button-filled:hover {
  background: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
}

.join-button {
  font-size: 1rem;
}

.nav-icon {
  margin: 0 1rem;
  cursor: pointer;
}

.container {
  width: 100vw;
  max-width: 100vw;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 0rem;
  min-height: 100vh;
  position: relative;
}

.cart-orders-container {
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
}

.cart-container-summary {
  padding: 4rem;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 999;
  height: 90vh;
  width: 25rem;
  transition: 0.3s;
}

.cart-container {
  padding: 4rem;
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 999;
  height: 90vh;
  width: 25rem;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  transition: 0.3s;

}

.cart-container-checkout {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 25rem;
  transition: 0.3s;
  background: var(--secondary);
  /* position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%); */
}

.cart-title {
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.cart-order-subtotal {
  font-size: 1.6rem;
  font-weight: 600;

}

.cart-order-container {
  border-bottom: 1px solid var(--text);
  width: 100%;
  padding: 1rem;
}

.cart-more-details-container {
  display: flex;
  gap: 2rem;

}

.cart-toppings-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.cart-addon {}

.cart-addons-container {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.checkout-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100vw;
  max-width: 100vw;
  height: auto;
  position: relative;
  z-index: 1;
  margin-top: 0rem;
  min-height: 100vh;
}

.checkout-details-container {}

.checkout-details-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;

}

.cart-title-checkout {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;

}


.payment-button {
  margin-top: 5rem;
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.payment-button:hover {

  box-shadow: 5px 5px 7px #bababa,
    -5px -5px 7px #ffffff;
}

.payment-button {}

.credit-card-info-container {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.checkout-container-left {
  grid-column: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-details-title {
  font-size: 2.5rem;
}

.checkout-container-right {
  grid-column: 2;
}

.cart-order-title {
  font-size: 1.6rem;
  font-weight: 600;
  max-width: 70%;
  text-align: left;
}

.cart-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 1rem 0;

}

.cart-actions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.3rem 0;
  margin-top: 2rem;
}

.cart-actions-subcontainer {
  display: flex;
  align-items: center;
}

.cart-details-button {
  cursor: pointer;
}

.cart-action-icon {
  margin-right: 1rem;
  cursor: pointer;
}

.cart-servicefee-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.totals-container {
  width: 100%;
  padding: 1rem 0;
}

.cart-grand-total-title {
  font-size: 2rem;
  font-weight: 600;
}

.cart-checkout-button {
  margin-top: 3rem;
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.cart-checkout-button:hover {

  box-shadow: 5px 5px 7px #bababa,
    -5px -5px 7px var(--secondary);
}


.cart-checkout-button-notfilled {
  margin-top: 3rem;
  background: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.cart-checkout-button-notfilled:hover {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

.hero-img {
  width: 100%;
  height: 30rem;

  font-size: 10rem;
  text-align: center;
  position: relative;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/hero-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(50%);
  z-index: 1;
  /* background-position: ; */
}

.hero-container {
  margin: 2rem 10rem;
}

.hero-button {
  z-index: 2;
  position: absolute;
  right: 5rem;
  bottom: 3rem;
  font-size: 1.5rem;
}

.hero-label {
  z-index: 2;
  font-size: 1rem;
  color: var(--background);
  font-size: 1.7rem;
}

.hero-label-big {
  font-size: 6.5rem;
  font-weight: 800;
  z-index: 2;
}

.underline-span {}

.catagories-container {
  display: flex;
  padding: 5rem 15rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.smaller-catagories-container {
  display: flex;
  padding: 1rem 0rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

}


.catagory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 23.33333%;
  width: fit-content;
  cursor: pointer;
  transition: 0.3s;
}

.smaller-catagory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  flex-basis: 200px;
  transition: 0.3s;
}

.smaller-catagory-container:hover {
  transform: scale(1.1);
}

.smaller-inner-catagory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catagory-container:hover {
  transform: scale(1.1);
}

.catagory-link-container {

  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.catagory-image {
  background: var(--complimentary);
}

.smaller-catagory-image {
  width: 8rem;
  background: var(--complimentary);
}

.catagory-caption {
  margin-top: 1rem;
  text-transform: none;
}

.footer {
  background: var(--primary);
  min-height: 10rem;
  width: 100vw;
  position: relative;
  display: flex;
}

.footer-left-container {
  display: flex;
  width: 50%;
}

.footer-left-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.footer-title {
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.footer-number {
  font-weight: 600;
  font-size: 1.3rem;
}

.footer-img {
  width: 8rem;
  height: 8rem;
}

.footer-subtitle {
  font-weight: 600;
}

.footer-right-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5rem;
  padding-right: 2.5rem;
  width: 50%;

}

.footer-links-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-height: 10rem;
  margin: 0 1rem;

}

.footer-links-title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.footer-links-container {

  width: fit-content;
}

.footer-links-content-container {
  display: flex;
  flex-direction: column;
}

.footer-link {
  text-decoration: none;
  color: var(--text);
  margin: 0.2rem 0;
  font-size: 0.8rem;
  font-weight: 500;
}

.footer-link-with-image-container {
  margin: 0.2rem 0;
}

.footer-link-img {}

.page-title-container {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-title-container-trackingorder {
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}


.page-title {
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  font-size: 4rem;
  text-align: center;

}

.track-order-id-title {
  margin-top: 2rem;
  font-size: 1.4rem;
}

.track-order-id {
  font-size: 3.5rem;
  font-weight: 600;
}

.track-order-id-sub {
  font-size: 2.5rem;
  font-weight: 600;
}

.big-ordering-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.ordering-catagories-container {
  display: flex;
  gap: 1.5rem;
  width: 80%;
  margin: 1rem 0;

}

.ordering-pizza-size-button {
  cursor: pointer;
  font-size: 1.3rem;
  width: fit-content;
  text-align: center;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  background: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: 0.3s;

}

.track-order-orderagain-button {
  cursor: pointer;
  font-size: 1.3rem;
  width: fit-content;
  text-align: center;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--background);
  transition: 0.3s;
  margin: 3.5rem 2rem;
}

.track-order-orderagain-button:hover {

  box-shadow: 5px 5px 7px #bababa,
    -5px -5px 7px #ffffff;
}

.track-order-ordersummary-button {
  cursor: pointer;
  font-size: 1.3rem;
  width: fit-content;
  text-align: center;
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  background: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: 0.3s;
  margin: 3.5rem 0;

}

.track-order-ordersummary-button:hover {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: var(--background);
}

.ordering-catagory-container {
  border-radius: 5px;
  padding: 6px 26px;
  background: var(--background);
  border: 1px solid var(--primary);
  color: var(--primary);
  transition: 0.3s;
  cursor: pointer;
  font-size: 1.1rem;
}

.ordering-catagory-container:hover {
  background: var(--primary);
  border: 1px solid var(--background);
  color: var(--background);
}

.ordering-catagory-container-selected {
  background: var(--primary);
  border: 1px solid var(--background);
  color: var(--background);

}

.ordering-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 2rem 0;
}

.item-container {
  background: var(--secondary);
  width: fit-content;
  width: 19rem;
}



.item-info-container {
  padding: 0 0.5rem;
}


.item-title {
  font-size: 1.7rem;
  font-weight: 600;
}



.item-img {
  width: 100%;

}

.item-price {
  font-size: 1.2rem;
}

.item-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
}

.item-cta-button {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 5px;
}

.item-size-selection {
  font-size: 1rem;
  padding: 0.1rem 0.4rem;
  border-radius: 5px;
}


.see-more-container {
  margin: 2rem 0;
}

.see-more-button {
  background: var(--background);
  color: var(--primary);
  border: 1px solid var(--primary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}

.see-more-button:hover {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
}

.back-container {
  position: absolute;
  left: 0;
  top: 0;
}

.back-container-order-summary {
  position: absolute;
  left: 10rem;
  top: 0;
}

.back-span {
  color: var(--text);
  font-size: 1.3rem;
  margin: 0 0.2rem;
}

.ordering-container {
  width: 100vw;
  display: flex;
  min-height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.ordering-big-container {
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ordering-hero-container {
  display: flex;
  margin: 5rem 0;

  min-height: 10rem;
  width: 70%;
}

.ordering-hero-left {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_1f633a30-ba93-450a-a93d-1ac3b25a1b54.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 10rem;
  width: 50%;

}


.ordering-hero-hawaiian {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_1f633a30-ba93-450a-a93d-1ac3b25a1b54.jpg");
}

.ordering-hero-chicken-galore {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_d2762674-97b0-4713-94be-4257e479f6ba.jpg");
}

.ordering-hero-chris-special {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_896faed4-6405-4e12-9c70-ddbfaf3e3cad.jpg");
}

.ordering-hero-chicken-curry {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_c01c5b13-4752-4547-8e26-af1af00dc0df.jpg");
}

.ordering-hero-meat-lovers {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_f9abc811-3387-4870-82ac-3eb23fa15f37.jpg");
}

.ordering-hero-veggie-pizza {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_24a5bf59-48d3-402d-b803-cca86a1fedc8.jpg");
}

.ordering-hero-bbq-chicken {
  background-image: url("https://static.phdvasia.com/sg1/menu/single/desktop_thumbnail_156236ab-b5fb-4ca8-8d37-bc0903977fbc.jpg");
}

.ordering-hero-right {
  width: 50%;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ordering-hero-title {
  font-size: 3rem;
  font-family: 'Calistoga', serif;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.step1-container {
  width: 90%;
  border-bottom: 1px solid var(--text);
  padding: 2.5rem 0;
}

.step2-container {
  width: 90%;
  border-bottom: 1px solid var(--text);
  padding: 2.5rem 0;
}

.step1-title {
  font-size: 1.6rem;
  font-weight: 600;
}

.counter-container {
  display: flex;
}



.counter-box {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--tetiary);
  cursor: pointer;
}



.count-box {
  background: var(--background);
  font-size: 1.6rem;
  border: none;
  text-align: center;
}

.quantity-selection-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}

.subtotal-bar {
  position: fixed;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
  padding: 1rem 3.5rem 1.5rem 3.5rem;
  background: var(--primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--background);
  z-index: 999;
}

.subtotal-bar-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.subtotal-bar-amount {
  font-size: 1.5rem;
  font-weight: 600;
}

.customise-size-buttons-container {
  display: flex;
  gap: 2rem;
}

.customise-size-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
}


.customise-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3rem;
}

.customise-item-subtotal {
  font-size: 1.2rem;
}


.customise-container {
  display: flex;
  align-items: center;
  padding: 2rem;
  gap: 2rem;

}

.customise-pizza-container {
  margin: 1.5rem 0;

}

.customise-item-title {
  font-size: 1.4rem;
  font-weight: 600;
  width: 8rem;

}

.qty-price-title {
  font-size: 1.5rem;
}

.counter-box-small {
  font-size: 1.2rem;
  width: 2.3rem;
  height: 2.3rem;
}

.add-ons-container {
  display: flex;

  gap: 9rem;
  padding: 3rem;
}

.add-ons-title {
  font-size: 1.4rem;
}

.ordering-addtocart-button {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.ordering-addtocart-button:hover {

  box-shadow: 5px 5px 7px #bababa,
    -5px -5px 7px #ffffff;
}

.addtocart-button-container {
  margin: 5rem 0;
}

.dialog-input-checkout {
  height: 2rem;
  width: 20rem;
  background: var(--secondary);
  border: none;
  border-radius: 5px;
}

.signup-input-container-checkout {
  margin: 2rem 0;

}

.dialog-text-checkout {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.feedback-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.feedback-title {
  font-size: 2rem;
  font-weight: 600;
}

.feedback-rating-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.feedback-container-box {
  background: var(--secondary);
  margin: 3rem 0;
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback-question-title {
  font-size: 1.3rem;
}

.feedback-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 0.5rem;
  font-size: 1.3rem;
}

.feedback-radio {
  background: var(--primary);
  cursor: pointer;
}

input[type=radio]:checked {
  background-color: var(--primary);
}

input[type=radio] {
  appearance: none;
  padding: 10px;
  background-color: var(--background);
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--text);
}

.feedback-submit-button {
  background: var(--primary);
  color: var(--background);
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.5rem;
}

.feedback-comment {

  font-size: 16px;
  resize: none;
  box-sizing: border-box;
}

.feedback-comment-container {
  margin: 1rem 0;
}

.track-order-buttons-container {
  display: flex;
  gap: 2rem;
}

.stores-table-header {
  background: var(--primary);
  color: var(--background);
}

.stores-table-content {
  background: var(--tetiary);
}

.stores-table-content-td {
  padding: 1.5rem;
  max-width: 15rem;
  text-align: center;
}

.stores-container {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.stores-table {
  margin-bottom: 5rem;
  border: none;

}

.stores-th {
  padding: 1rem;
  font-size: 1.5rem;
  ;
}

.phphiddendiv {
  display: none;
  pointer-events: none;
  opacity: none;
}

.delete-cart-input {
  border: 0;
  background: none;
}

.summary-cusomter-info {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}


.orders-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
}



.order-title {
  font-size: 1.1rem;
}

.total-title {
  font-size: 1.5rem;
  font-weight: 600;

}

.inprogress-orders-container {
  width: 80%;
  margin: 2rem 0;
}

.inprogress-orders-title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 2rem;
}

.inprogress-orders {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.order-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 2rem 2rem;
  border-radius: 5px;
  border: 3px solid var(--primary);
}

.order-container-completed {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  padding: 2rem 2rem;
  border-radius: 5px;
  border: 2px solid var(--text);
}

.see-order-button {
  background: var(--background);
  color: var(--primary);
  border: 2px solid var(--primary);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.7rem 3rem;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 1.5rem;
}

.see-order-button:hover {
  background: var(--primary);
  color: var(--background);
  border: 2px solid var(--primary);
}

.feedback-failure-container {
  padding: 3rem;
  background: var(--secondary);
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 600;
}